<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDR8yEPsn-X5iGvAZohXr5w3ZwNwzFqSCI</string>
	<key>GCM_SENDER_ID</key>
	<string>162245545637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ai.corgis.corgisApp</string>
	<key>PROJECT_ID</key>
	<string>corgis-ai-push-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>corgis-ai-push-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162245545637:ios:7878cd794b3bedb15e074c</string>
</dict>
</plist>